html {
    padding: 0;
    margin: 0;
}

.profileInfo {
    color: #2F343A;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: flex-end;
    font-family: "Montserrat";
    text-align: center;
    line-height: 1.1
}
.profileBio {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: flex-end;

}
.profileName {
    position: relative;
    line-height: 1;
    font-size: 150px;
    font-family: "Nerko One";
    color: #2F343A;
}

.profilePics {
    display: flex;
}

.profileImgs {
    width: 400px;
}