html {
    padding: 0;
    margin: 0;
}

.profileInfo {
    color: #2F343A;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: flex-end;
    font-family: "Montserrat";
    text-align: center;
    line-height: 1.1
}

.profileName {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 150px;
    font-family: "Nerko One"
}

.profilePics {
    display: flex;
}

.profileImgs {
    width: 400px;
}