/* Add this CSS to your stylesheet or component style */
nav {
    display: flex;
    justify-content: space-between; /* Align items to the right */
    align-items: center;
    background-color: #2F343A; /* Background color for the navigation bar */
    padding: 15px; /* Add some padding for better aesthetics */
    position: sticky;
    top: 0;
  }
  
  .spacer {
    flex-grow: 1;
  }

  .list1 {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
  }
  
  .list2 {
    display: inline-block;
    margin-right: 50px; /* Add spacing between navigation items */
  }

  
  .navLink {
    text-decoration: none;
    color: #E3E3E3; 
    font-family: "Montserrat";
    font-size: 20px;
    transition: 1s ease;
    padding: 20px
  }
  
  /* Style for links on hover */
  .navLink:hover {
    color: #2F343A;
    background-color: #E3E3E3;
    /* border-bottom: 2px solid white; Add an underline on hover */
  }

  .logoNav {
    object-fit: fill;
    width: 100px;
    height: 50px;
    padding-top: 0px;
  }

  .navBar {
    display: flex;
  }